<template name="menu">
	<div id="main-menu" role="navigation">
        <div id="main-menu-inner">

            <ul class="navigation">
                <!-- <li>
                     <a href="charts.html"><i class="menu-icon fa fa-bar-chart-o"></i><span class="mm-text">Charts</span></a>
                 </li>-->

                <li class="mm-dropdown open active">
                    <a><i class="menu-icon fa fa-files-o"></i><span class="mm-text">ADMIN_PAGES</span></a> 
                    <ul>
                        <li >
                            <a tabindex="-1" href="/cpanel/dashboad"><span class="mm-text">DASHBOAD</span></a>
                        </li>
                        <li >
                            <a tabindex="-1" href="/cpanel/section"><span class="mm-text">SECTION</span></a>
                        </li>
                        <!-- <li >
                            <a tabindex="-1" href="/cpanel/post"><span class="mm-text">POST</span></a>
                        </li>
                        <li >
                            <a tabindex="-1" href="/cpanel/section"><span class="mm-text">CATEGORIES</span></a>
                        </li>
                        <li >
                            <a tabindex="-1" href="/cpanel/section"><span class="mm-text">PAGE</span></a>
                        </li> -->
                        <li >
                            <a tabindex="-1" href="/cpanel/orders/1"><span class="mm-text">ORDERS</span></a>
                        </li>
                        <li >
                            <a tabindex="-1" href="/cpanel/pshop"><span class="mm-text">P-SHOP</span></a>
                        </li>
                        <li >
                            <a tabindex="-1" href="/cpanel/taxi"><span class="mm-text">TAXI</span></a>
                        </li>
                        <li >
                            <a tabindex="-1" href="/cpanel/user"><span class="mm-text">USERS</span></a>
                        </li>
                         <li >
                            <a tabindex="-1" href="/cpanel/category"><span class="mm-text">CATEGORY</span></a>
                        </li>
                        <li >
                            <a tabindex="-1" href="/cpanel/shop"><span class="mm-text">SHOP</span></a>
                        </li>
                          <li >
                            <a tabindex="-1" href="/cpanel/product"><span class="mm-text">PRODUCTS</span></a>
                        </li>
                    </ul>
                </li>
            </ul> <!-- / .navigation -->

        </div> <!-- / #main-menu-inner -->
    </div> <!-- / #main-menu -->
</template>