<template name="editorders">
	<div id="content-wrapper">
			    <div class="panel-heading">
			        <span class="panel-title">ORDERS_FORM_UPDATE</span>
			    </div>
			    <div class="panel-body">
			    <input type="hidden" name="id" value="{{GetOne._id}}">
			        <div class="row form-group">
			                        <label class="col-sm-2 control-label">PRODUCT:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="product" value="{{GetOne.product}}" class="form-control">
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">QTY:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="qty" value="{{GetOne.qty}}" class="form-control">
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">PSHOP:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" name="pshop">
			            		<option value="{{GetOne.pshop}}" style="display:none">
			            		{{Getshopname GetOne.pshop}}</option>
			            		{{#each GetShop}}
			            			<option value="{{_id}}">{{name}}</option>
			            		{{/each}}
			            	</select>
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">TAXI:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" name="taxi">
			            		<option value="{{GetOne.taxi}}" style="display:none">
			            		{{GetTaxiname GetOne.taxi}}</option>
			            		{{#each GetTaxi}}
			            			<option value="{{_id}}">{{name}}</option>
			            		{{/each}}
			            	</select>
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">STATUS:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" name="status">
			            		<option value="1">Public</option>
			            		<option value="0">Unpublic</option>
			            	</select>
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">DELIVERY TYPE:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" name="deleverytype">
			            		<option value="{{GetOne.deleverytype}}">{{GetOne.deleverytype}}</option>
			            		<option value="express">Express</option>
			            		<option value="normal">Normal</option>
			            	</select>
			            </div>
			        </div>
			    </div>
		    <div class="panel-footer text-right">
		        <button class="btn btn-primary" id="btn-update">UPDATE</button>
		    </div>
    </div>
    <div id="main-menu-bg"></div>
</template>