<template name="productedit">
	<div id="content-wrapper">
	    <form  class="panel form-horizontal form-bordered">
			    <div class="panel-heading">
			        <span class="panel-title">PRODUCT</span>
			    </div>
			    <div class="panel-body">

			        <div class="row form-group">
			                        <label class="col-sm-2 control-label">title:</label>
			            <div class="col-sm-10">
			                <input required type="text" id="title" value="{{getOneProduct.title}}" class="form-control">
			            </div>
			        </div>
			       
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">Price:</label>
			            <div class="col-sm-10 ">
			            	<input required type="text" value="{{getOneProduct.price}}" id="price" class="form-control">
			            </div>
			        </div>
			        
			       	 <div class="row form-group">
			            <label class="col-sm-2 control-label">category:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" id="catid">
			            		<option value="{{getOneProduct.categoryid}}" style="display: none;">{{getTitleCat getOneProduct.categoryid}}</option>
			            		{{#each allcategory}}
			            		<option value="{{_id}}">{{name}}</option>
			            		{{/each}}
			            	</select>
			            </div>
			        </div>
			        <input type="hidden" id="pro_id" value="{{getOneProduct._id}}">
			         <div class="row form-group">
			            <label class="col-sm-2 control-label">shop:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" id="shopid">
			            		<option value="{{getOneProduct.shopid}}" style="display: none;">{{getShopname getOneProduct.shopid}}</option>
			            		{{#each allshop}}
			            		<option value="{{_id}}">{{name}}</option>
			            		{{/each}}
			            	</select>
			            </div>
			        </div>
			         <div class="row form-group">
			            <label class="col-sm-2 control-label">Image UrL:</label>
			            <div class="col-sm-10">
			            	<input required type="text" value="{{getOneProduct.imageurl}}" id="imageurl" class="form-control">
			            </div>
			        </div>
			    </div>
		    <div class="panel-footer text-right">
		        <button class="btn btn-primary" id="btnupdateproduct">UPDATE PRODUCT</button>
		    </div>
		</form>
    </div>
    <div id="main-menu-bg"></div>
</template>