<template name="sectionedit">
	<div id="content-wrapper">
	    <form  class="panel form-horizontal form-bordered">
			    <div class="panel-heading">
			        <span class="panel-title">ITEM_FORM</span>
			    </div>
			    <div class="panel-body">
			    <input type="hidden" name="section_id" value="{{GetOne._id}}">
			        <div class="row form-group">
			                        <label class="col-sm-2 control-label">TITLE:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="title" value="{{GetOne.title}}" class="form-control">
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">SUB_TITLE:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="sub_title" value="{{GetOne.subtitle}}" class="form-control">
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">IMAGE:</label>
			            <div class="col-sm-10 btn btn-default image-preview-input">
			            	<input type="hidden" name="current_image" value="{{GetOne.image}}">
			            	 <input type="file" name="image" id="upload" />
			            </div>
			        </div>
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">STATUS:</label>
			            <div class="col-sm-10">
			            	<select class="form-control" name="status">
			            		<option value="{{GetOne.status}}" style="display:none">{{GetStatus GetOne.status}}</option>
			            		<option value="1">Public</option>
			            		<option value="0">Unpublic</option>
			            	</select>
			            </div>
			        </div>
			    </div>
		    <div class="panel-footer text-right">
		        <button class="btn btn-primary" id="btn-update">UPDATE</button>
		    </div>
		</form>
    </div>
    <div id="main-menu-bg"></div>
</template>